@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*Legend specific*/
.legend {
  padding: 6px 8px;
  background: #d4d4d3d0;
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  /*border-radius: 5px;*/
  line-height: 24px;
  color: black;
  border-radius: 0.4rem;
  padding: 0.5rem;
}
.legend h4 {
  text-align: center;
  font-size: 16px;
  margin: 2px 12px 8px;
  color: black;
  font-weight: bold;
}

.legend li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.6rem 0;
}

#map {
  height: 800px;
  width: 90%;
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

body {
  background-color: #142b31;
  color: #d4d4d3;
  font-family: 'Inter', sans-serif;
}